@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Almarai:wght@700&family=Cairo:wght@400;800&family=Fuzzy+Bubbles:wght@700&family=Nanum+Gothic+Coding:wght@700&family=Roboto+Serif:wght@200;400&family=Roboto:wght@300;400&family=Sora:wght@300&display=swap');
body {
  overscroll-behavior: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}
button, input, textarea {
  outline: none;
}
header ul li a {
  color: #DBDBDB;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.rtl {
  direction: rtl;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .why-me-card {
    @apply 
    flex 
    sm:mt-4 
    sm:flex-col 
    sm:items-center
    sm:h-[w-40vh] 
    md:w-[50vh]  
    lg:flex-row 
    lg:w-[70%] 
    xl:w-[50%] 
    lg:h-[30vh]
  }
  .skill-card {
    @apply
    sm:w-[80%] lg:w-[40vh] xl:w-[42vh] p-3 rounded flex flex-col items-center justify-self-center
  }
  .skill-card h3 {
    @apply
    lg:text-xl
  }
  .cards-container {
    @apply
    w-[100%] 
    h-[100%] 
    grid 
    sm:grid-cols-1 
    md:grid-cols-2 
    mx-auto
  }
  .cards-container h3 {
    @apply
    text-slate-100 mx-auto mt-4 text-xl font-bold
  }
}  

.btn-loader {
    animation: rotate-btn .9s ease-in infinite;
  }
  @keyframes rotate-btn {
    from {
      transform:rotate(5deg);
    }
    to {
      transform:rotate(360deg)
    }
  }